.home-page {
  padding: 0 1rem;
  max-width: 1400px;
  margin-left: 260px;
  box-sizing: border-box;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 8fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.video-card {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-card .thumbnail {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 8px;
}
