.video-details-container {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
  gap: 20px;
}

.main-video-section {
  flex: 2; /* Takes up 2/3 of the space */
}

.video-player {
  width: 100%;
  height: 450px;
}

.video-player iframe {
  width: 100%;
  height: 100%;
}

.video-info {
  width: 100%;
  text-align: left;
}

.suggested-videos {
  flex: 1; /* Takes up 1/3 of the space */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.suggested-video-item {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.suggested-video-thumbnail {
  width: 150px;
  height: 85px;
  object-fit: cover;
  border-radius: 5px;
}

.suggested-video-info {
  flex: 1;
}

.suggested-video-info h3 {
  font-size: 14px;
  margin: 0;
}

.suggested-video-info p {
  font-size: 12px;
  color: #666;
  margin: 3px 0;
}
.search-results-page {
  padding: 0 1rem; 
  max-width: 1400px;
  margin-left: 240px;
  margin-top: 120px;
  
}