.categories {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scrollbar-color: transparent ;
  white-space: nowrap;
  padding: 5px 2px;
  background-color: white;
 
  font-weight: 550;
  margin-left: 272px;
}
.scroll-arrow {
  font-size: 18px;
  margin-left: 3px;
  cursor: pointer;
}
.categories::-webkit-scrollbar {
  width: 6px;
  background-color:transparent;
}
.category-item {
  padding: 8px 15px;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-right: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-item.active {
  background-color: black;
  color: white;
}


